@import "../partials/color_pallete";

/* Assuring animated items are playing before loading screen */
.js-loading *,
.js-loading *::before,
.js-loading *::after {
	animation-play-state: paused !important;
}

.hero-container {
	display: flex;
	background-image: url("../images/hero-bg.jpg");
	justify-content: space-evenly;
	font-family: "Avenir Next", Open Sans, sans-serif;
	padding-top: 80px;
	padding-bottom: 30px;

	&__left {
		width: 400px;
	}

	&__right {
	}
}

.hero-container p {
	color: $theme-color-5;
	font-size: 2em;
	max-width: 80%;
}

.profile-pic {
	height: 200px;
	width: 180px;
	filter: grayscale(100%);
	filter: gray;

	&:hover {
		filter: none;
	}
}

.special-link {
	font-family: "Avenir Next", Open Sans, sans-serif;
	font-size: 2em;
	color: $theme-color-9;
	display: inline-block;
	position: relative;
	text-decoration: none;
	z-index: 10;

	&::before {
		border-top: 0.4em solid #fff300;
		bottom: 0.01em;
		content: "";
		left: -0.05em;
		position: absolute;
		right: -0.05em;
		transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
		z-index: -1;
	}

	&:hover {
		color: $theme-color-8;
		text-decoration: none;

		&::before {
			border-width: 1.1em;
			bottom: 0.25em;
			transition: all 0.3s cubic-bezier(0, 1.5, 0.5, 1);
		}
	}
}

.container {
	&__button_socials {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.button {
	&__social-github {
	}

	&__social-linkedin {
	}
}

/* Styling of font-awesome icons */

.fa-linkedin {
	color: $theme-color-9;

	&:hover {
	}
}

.fa-github-square {
	color: $theme-color-9;
}

.fa-chevron-down {
	color: $theme-color-1;
}

// media queries
