@import "../partials/color_pallete";

/* Assuring animated items are playing before loading screen */
.js-loading *,
.js-loading *::before,
.js-loading *::after {
	animation-play-state: paused !important;
}

.hero-content {
	background-color: $theme-color-2;
}

.hero-container {
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: "Avenir Next", Open Sans, sans-serif;
	padding-top: 80px;
	padding-bottom: 30px;
	height: 800px;
	width: 80vw;
	margin: auto;

	&__left {
		flex-direction: column;
		@media (max-width: 990px) {
			margin-top: 40px;
			margin-bottom: 100px;
			order: 2;
		}
	}

	&__right {
		display: flex;
		justify-content: center;
		@media (max-width: 990px) {
			margin-top: 230px;
			order: 1;
		}
	}
}

.hero-container p {
	color: $theme-color-6;
	font-size: 2em;
	max-width: 80%;
}

.profile-pic {
	height: 350px;
	width: 350px;
	filter: grayscale(100%);
	filter: gray;

	&:hover {
		filter: none;
	}
}

.special-link {
	font-family: "Avenir Next", Open Sans, sans-serif;
	font-size: 2em;
	color: $theme-color-6;
	display: inline-block;
	position: relative;
	text-decoration: none;
	z-index: 10;

	&::before {
		border-top: 0.4em solid $theme-secondary-color-1;
		bottom: 0.01em;
		content: "";
		left: -0.05em;
		position: absolute;
		right: -0.05em;
		transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
		z-index: -1;
	}

	&:hover {
		color: $theme-color-9;
		text-decoration: none;

		&::before {
			border-width: 1.1em;
			bottom: 0.25em;
			transition: all 0.3s cubic-bezier(0, 1.5, 0.5, 1);
		}
	}
}

.button {
	&__get-in-touch {
		border-radius: 290486px;
		margin-bottom: 10px;
		width: 180px;
	}
}

.container {
	&__button_socials {
		display: flex;
		padding-right: 20px;
	}
}

/* Styling of font-awesome icons */

.fa-linkedin {
	color: $theme-color-9;

	&:hover {
		color: $theme-color-1;
	}
}

.fa-github-square {
	color: $theme-color-9;

	&:hover {
		color: $theme-color-1;
	}
}

.fa-chevron-down {
	color: $theme-color-1;
}

// media queries
