/* From light to dark colour */
.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/hero-bg.jpg");
  font-family: "Avenir Next", Open Sans, sans-serif;
  padding-bottom: 100px;
}

.hero-container p {
  color: #adb5bd;
  padding-top: 160px;
  font-size: 4em;
  max-width: 80%;
  text-align: center;
}

.special-link {
  font-family: "Avenir Next", Open Sans, sans-serif;
  color: #212529;
  display: inline-block;
  position: relative;
  text-decoration: none;
  z-index: 10;
}
.special-link::before {
  border-top: 0.4em solid #fff300;
  bottom: 0.01em;
  content: "";
  left: -0.05em;
  position: absolute;
  right: -0.05em;
  transition: all 0.4s cubic-bezier(0, 1, 0.3, 1);
  z-index: -1;
}
.special-link:hover {
  color: #353a40;
  text-decoration: none;
}
.special-link:hover::before {
  border-width: 1.1em;
  bottom: 0.25em;
  transition: all 0.3s cubic-bezier(0, 1.5, 0.5, 1);
}
