/* From light to dark colour */
/* Navigation Bar */
.navbar {
  opacity: 0.8;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 200;
}

.nav__bold-first-name {
  font-weight: 800;
}

.nav-link {
  font-size: 1.25rem;
}

.nav-progress-bar {
  background-color: #71aee4c5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  z-index: 10;
}

/* Body Section */
.section__about {
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
.section__about-header {
  font-size: 2.5em;
  padding: 20px;
}
.section__about-motivation {
  align-items: center;
  font-size: 1.5em;
  height: 300px;
  width: 500px;
  text-align: center;
}
.section__tech-container {
  height: 350px;
}
.section__tech-item {
  margin: 10px;
  width: 70px;
  height: 70px;
}
.section__tech-item-html {
  content: url("../images/tech-icons/icons8-html-5.svg");
}
.section__tech-item-css {
  content: url("../images/tech-icons/icons8-css3.svg");
}
.section__tech-item-javascript {
  content: url("../images/tech-icons/icons8-javascript.svg");
}
.section__tech-item-react {
  content: url("../images/tech-icons/icons8-react.svg");
}
.section__tech-item-node {
  content: url("../images/tech-icons/icons8-nodejs.svg");
}
.section__tech-item-java {
  content: url("../images/tech-icons/icons8-java.svg");
}
.section__tech-item-cplusplus {
  content: url("../images/tech-icons/icons8-c++-2.svg");
}
.section__tech-item-python {
  content: url("../images/tech-icons/icons8-python.svg");
}
.section__tech-item-swift {
  content: url("../images/tech-icons/icons8-swift.svg");
}
.section__projects {
  height: 1100px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .section__projects {
    height: 1300px;
  }
}
@media (max-width: 768px) {
  .section__projects {
    height: 2200px;
  }
}
.section__projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__projects-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
  padding: 50px;
  font-size: 4rem;
}
.section__projects-item {
  display: flex;
  justify-content: center;
}
.section__contact {
  height: 450px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  background-image: url("../images/map-bg.jpg");
}
.section__contact-header {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  padding: 20px;
}
.section__contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.section__contact-item-mail {
  content: url("../images/contact-icons/static-mail.svg");
}
.section__contact-item-mail-animated {
  content: url("../images/contact-icons/animated-mail.gif");
}
.section__contact-item-linkedin {
  content: url("../images/contact-icons/static-linkedin.svg");
}
.section__contact-item-github {
  content: url("../images/contact-icons/static-github.svg");
}
.section__contact-item img {
  margin-left: 8px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
}

/* Project Items */
.card {
  margin-bottom: 5px;
  width: 300px;
}
.card-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.card-body {
  display: flex;
  justify-content: center;
  height: 300px;
}
.card-body-img-1 {
  height: 70%;
  width: 100%;
  content: url("../images/project-display/simons-game.png");
}
.card-body-img-2 {
  height: 90%;
  width: 100%;
  content: url("../images/project-display/calc-js.png");
}
.card-body-img-3 {
  content: url("");
}
.card-body-img-4 {
  width: 80%;
  height: 100%;
  content: url("../images/project-display/toDo2.png");
}
.card-footer {
  display: flex;
  justify-content: space-evenly;
}
.card-footer-btn-github {
  content: url("../images/project-icons/icons8-github-2.svg");
}
.card-footer-btn-execute {
  content: url("../images/project-icons/icons8-rocket-96.png");
}
.card-footer img {
  height: 50px;
  width: 50px;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.chip {
  display: inline-block;
  font-size: 14px;
  padding: 0.2em 0.6em;
  margin-bottom: 5px;
  border-radius: 9999999px;
  color: #212529;
  font-weight: bold;
  cursor: default;
}
.chip__html {
  background-color: #ffc300;
}
.chip__css {
  background-color: #89f7f9;
}
.chip__js {
  background-color: #fcff57;
}
.chip__react {
  background-color: #00d1f7;
}
.chip__react-native {
  background-color: #3572ce;
}
.chip__node {
  background-color: #4caf50;
}
.chip__java {
  background-color: #f44336;
}
.chip__c {
  background-color: #cccdcc;
}
.chip__python {
  background-color: #004f00;
}
.chip__swift {
  background-color: #f39843;
}

/* Footer section styling */
.footer-container {
  height: 100px;
  width: 100vw;
  background-color: #adb5bd;
}

.footer-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f9fa;
}
