@import "../partials/color_pallete";

/* Navigation Bar */
.navbar {
	opacity: 0.8;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: 200;
}

.nav__bold-first-name {
	font-weight: 800;
}

.nav-link {
	font-size: 1.25rem;
}

.nav-progress-bar {
	background-color: $theme-secondary-color-1;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 6px;
	z-index: 10;
}

/* Body Section */

.section {
	&__about {
		height: 750px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $theme-color-1;

		&-header {
			font-size: 2.5em;
			padding: 20px;
		}

		&-motivation {
			align-items: center;
			font-size: 1.5em;
			height: 300px;
			width: 500px;
			text-align: center;
		}
	}

	&__tech {
		&-container {
			height: 350px;
		}
		&-item {
			margin: 10px;
			width: 70px;
			height: 70px;
		}
	}

	&__projects {
		padding-top: 20px;
		height: 550px;
		background-color: $theme-color-2;

		@media (max-width: 1195px) {
			height: 850px;
		}

		@media (max-width: 768px) {
			height: 1620px;
		}

		// This container should be aligning project cards to be center???
		&-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&-header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__contact {
		height: 370px;
		background-color: $theme-color-1;
		display: flex;
		align-items: center;

		&-header {
			display: flex;
			justify-content: center;
			font-size: 2.5em;
			padding: 20px;
		}

		&-details {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		&-item img {
			margin-left: 8px;
			margin-right: 5px;
			height: 50px;
			width: 50px;
		}
	}
}

/* Project Items */

.card {
	margin-bottom: 5px;
	width: 300px;

	&-header {
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
	}

	&-body img {
		height: 200px;
		width: 270px;
	}

	&-footer {
		display: flex;
		justify-content: space-evenly;
	}

	&-footer img {
		height: 50px;
		width: 50px;
	}
}

// Potential animation for chip
// https://codepen.io/Call_in/pen/PopRbLw

.chip {
	display: inline-block;
	font-size: 14px;
	padding: 0.2em 0.6em;
	margin-bottom: 5px;
	border-radius: 9999999px;
	color: $theme-color-9;
	font-weight: bold;
	cursor: default;

	&__html {
		background-color: #ffc300;
	}

	&__css {
		background-color: #89f7f9;
	}

	&__js {
		background-color: #fcff57;
	}

	&__react {
		background-color: #00d1f7;
	}

	&__react-native {
		background-color: #3572ce;
	}

	&__node {
		background-color: #4caf50;
	}

	&__java {
		background-color: #f44336;
	}

	&__c {
		background-color: #cccdcc;
	}

	&__python {
		background-color: #004f00;
	}

	&__swift {
		background-color: #f39843;
	}
}

/* Footer section styling */
.footer-container {
	height: 100px;
	width: 100vw;
	background-color: $theme-color-5;
}

.footer-text {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $theme-color-1;
}
