/* From light to dark colour */
.navbar-brand {
  font-size: 2rem;
}

.nav-link {
  font-size: 1.25rem;
}

.other-section h1 {
  display: flex;
  justify-content: center;
}

.nav-progress-bar {
  background-color: #71aee4c5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  z-index: 10;
}

.long-section {
  height: 2200px;
  width: 100%;
}

/* Footer section styling */
.footer-container {
  height: 100px;
  background-color: #495057;
}

.footer-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f9fa;
}
