/* From light to dark colour */

$theme-color-1: #f8f9fa;
$theme-color-2: #e9ecef;
$theme-color-3: #dee2e6;
$theme-color-4: #ced4da;
$theme-color-5: #adb5bd;
$theme-color-6: #6c757d;
$theme-color-7: #495057;
$theme-color-8: #353a40;
$theme-color-9: #212529;
